    <table class="attr">

       <%= form.hidden_field :detail_id %>
  <%= form.hidden_field :member_id %>
      <tr>
        <th><%= form.label :people %></th>
        <td><%= form.text_field :people %></td>
      </tr>
      <tr>
          <th><%= form.label :food %></th>
            <td><%= form.text_field :food %></td>
      </tr>
    </table>

