<% @page_title = "予約の詳細" %>
<h1><%= @page_title %></h1>

<%= render "body" %>
<table class="attr">
  <tr>
    <th>ツアー料理</th>
    <td><%= @reservation.food %></td>
  </tr>
  <tr>
    <th>予約人数</th>
    <td><%= @reservation.people %></td>
  </tr>
  <tr>
     <th>合計金額</th>
     <td><%= @sum %></td>
  </tr>
</table>
<% unless @reservation.canceld %>
   <P><%= link_to "キャンセル", :controller => "reservations", :action => "canceld", :id => @reservation.id %></p>
<% else %>
   <p> キャンセル受付中です</p>
<% end %>
   <p><%= link_to "アカウントページ", @current_member %></p>
   <p><%= link_to "TOP", trips_path %></p>
